 
 .POST{
  position: relative;
width: 561px;
height: 525.46px;
 }

 .Cover{
  position:absolute;

  z-index: -1;
 }

 .Buy{
position: absolute;
width: 104px;
height: 55px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
  opacity: 0.8;
  vertical-align: bottom;
  color: black;
  background-color:#4DEA25;
  box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.8);
  border-color: #4DEA25;
  margin-top:20px ;
margin-left:-20px;
 }